<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Postie</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Browse posts</a></li>
          <ng-container *ngIf="isAuthenticated | async">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/create">Create post</a></li>
            <li><a (click)="onLogout()">Logout</a></li>
          </ng-container>
          <ng-container *ngIf="!(isAuthenticated | async)">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/signup">Sign Up</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/login">Login</a></li>
          </ng-container>
        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div>
    </div>
  </nav>
