<div class="panel panel-default">
  <div class="panel-heading">{{ post.title }}<span class="date-label">{{ post.creationTime | date:'dd.MM.yyyy hh:mm:ss' }}</span></div>
  <div class="panel-body">
    <img *ngIf="post.imageId" class="head-image" src="http://localhost:8000/api/imgs/{{ post.imageId }}">
    <p [innerHTML]="post.content | textFormat"></p>
  </div>
  <div class="buttons text-right" *ngIf="( isAuthenticated | async ) && (( userId | async ) === post.user._id )">
    <button class="btn btn-info" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
