<h2>Login</h2>
<form (ngSubmit)="onLogin()" [formGroup]="loginForm">
  <div class="form-group">
    <label for="email">Email: </label>
    <input
      type="text"
      id="email"
      formControlName="email"
      class="form-control">
    <p *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="text-danger">Please provide valid email</p>
  </div>
  <div class="form-group">
    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="form-control">
    <p *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid" class="text-danger">Please provide valid email</p>
  </div>
  <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Login</button>
</form>
