<h2>Signup</h2>
<form (ngSubmit)="onSignup()" [formGroup]="signupForm">
  <div class="form-group">
    <label for="email">Email: </label>
    <input
      type="text"
      id="email"
      formControlName="email"
      class="form-control">
    <p *ngIf="signupForm.get('email').touched && signupForm.get('email').invalid" class="text-danger">Please provide valid email</p>
  </div>
  <div class="form-group">
    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      formControlName="password"
      class="form-control">
    <p *ngIf="signupForm.get('password').touched && signupForm.get('password').invalid" class="text-danger">Please provide valid email</p>
  </div>
  <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary">Signup</button>
</form>
