<h1>Create post</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="postForm">
  <div class="form-group">
    <label for="title">Title: </label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title">
    <p *ngIf="postForm.get('title').touched &&
              postForm.get('title').errors "
        class="text-danger">
      Please fill in the title
    </p>
  </div>
  <div class="form-group">
    <input type="file"
      class="form-control sr-only"
      (change)="onImagePicked($event)"
      #image>
    <button type="button" class="btn btn-primary" (click)="image.click()">Choose image</button>
    <img [src]="imagePreviewUrl" class="image-preview" *ngIf="imagePreviewUrl" />
  </div>
  <div class="form-group">
    <label for="content">Content: </label>
    <textarea
      class="form-control"
      id="content"
      formControlName="content">
      </textarea>
    <p *ngIf="postForm.get('content').touched &&
              postForm.get('content').errors "
        class="text-danger">
      Please fill in the content
    </p>
  </div>
  <button [disabled]="!postForm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>
