<nav aria-label="...">
  <ul class="pager">
    <li class="previous bg-primary" [ngClass]="{disabled: currentPage <= 1}"><a (click)="onPreviousClicked()"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="text-center">{{currentPage}}</li>
    <li class="next bg-primary" [ngClass]="{disabled: !moreAvailable}"><a (click)="onNextClicked()">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
