<div class="well" *ngIf="posts.length > 0">
  <app-post-item *ngFor="let postObj of posts" [post]="postObj"></app-post-item>
  <app-page-turner [moreAvailable]="!isLastPage" (pageTurned)="onPageTurned($event)"></app-page-turner>
</div>
